@charset "utf-8";
/* CSS Document */
/**
 * Generic elements
 */
 
body {
  margin: 0;
  padding: 0;
  font-family: arial, helvetica, hirakakupro-w3, osaka, "ms pgothic", sans-serif;
  font-size: 12px;/*/170%;*/

	font-style: normal;
	font-stretch: normal;
	font-size-adjust: none;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
  	background: #BFC4C7 url(images/bg.jpg) repeat-x;
	
	color: #363636;	
}

p {
	text-align: justify;
}

a {
  text-decoration: none;
  color: #868686;
}

a:hover {
  text-decoration: underline;
/*  border-bottom: #F00;
  border-bottom-width: thin;
  border-bottom-style: dotted;*/
}

input {
  border: 1px solid #999;
  font-size: 12px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}



/* custom id */
#wrapper {
	background:url(images/light.gif) center top no-repeat;
	padding:5px 0;
}

#container {
	margin:0 auto;
	width: 936px;
	min-width: 936px;
	/*min-height: 2700px;*/ /*patch*/
}


#header {
	background:url(images/header.png) 0 0 no-repeat;
	width: 936px;
	height:132px;
}

#navigation {
	margin:1px 0;
	display:block;
}

#center {
	background:#FFFFFF;
	background: #FFF url(images/bglogo.jpg) no-repeat right;
	width: 936px;
	min-height: 650px;
}


#content-mediumsize {
	padding: 10px 20px 10px 20px;
	margin: 0px;
	float: left;
	width:700px;
	float:left;
	/*min-height:400px;*/
	/*background-color: #FFF;*/
	/*overflow: hidden;*/
	width: 700px;
}

#content-fullsize {
	padding: 10px 20px 10px 20px;
	margin: 0px;
	float: left;
	width:700px;
	float:left;
	/*min-height:400px;*/
	/*background-color: #FFF;*/
	/*overflow: hidden;*/
	width: 896px;
}

/**	display: block;*/
#sidebar {
	float:right;
	/*background:#ffffff;*/
}
/* We ensure the sidebars are still clickable using z-index */
#wrapper #container .sidebar {
  margin: 0px;
  padding: 0px;
  width: 190px;
  float: left;
  z-index: 2;
  position: relative;
}

#wrapper #container .sidebar .block {
  margin: 0 0 0 0;
  padding: 0px;
}

#sidebar-right .block {
  padding: 0 0px 0 0px;
}

.block .content {
  
}

#sidebar-right .block-region {
  margin: 0 0px 0 0px; /* LTR */
  padding: 0px;
}

.sidebar h2 {
	padding: 0px;
	margin: 10px 0 10px 0;
	font-size: 16px;
}

/***********************************/
#footer {
	width: 936px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #FFF;
	display: block;
  	/*min-height: 110px;*/
}

#footer img {
	margin-top: 10px;
}

#bottom-wrapper {
	background:url(images/footer.png) left bottom no-repeat;
	height:44px;
	width: 936px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #FFF;
	display: block;
}
/**
 * Primary navigation
 */
#primary {
  display: block;
  height: 36px;
  background: url('images/navigation-bg.png');
  width: 926px;
  padding-left: 10px;
}

ul.primary-links {
  margin: 0;
  padding: 0 0 0 0 ;
  float: left; /* LTR */
  position: relative;
  z-index: 4;
  font-size: 13px;
  color:#666;
  font-family: Verdana, Geneva, sans-serif;
  font-stretch: normal;
  font-weight: normal;
  font-style:normal;
  font-weight: bold;
}

ul.primary-links li {
  margin: 0;
  float: left; /* LTR */
  background-image: none;
}

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited {
  display: block;
  margin: 0;
  padding: 6px 10px 0 10px;
  color:#999;
  height: 28px;
}

ul.primary-links li a:hover {
  text-decoration: none;
  height: 28px;
}

ul.primary-links li a.active {
  text-decoration: none;
  color: #CCC;
  background: url('images/navigation-bg-selected.png') repeat-x 0 0;
  height: 28px;
}

ul.primary-links li a.active:hover {
  text-decoration: none;
  height: 28px;
}



#wrapper #container #center .breadcrumb {
  position: relative;
  z-index: 3;
}

#wrapper #container #center .breadcrumb {
  font-size: 0.92em;
}

#wrapper #container #center .breadcrumb, #wrapper #container #center .breadcrumb a {
  color: #999;
}


#wrapper #container #header #logo {
  border: none;
  position: relative;
  left: 150px;
  top: 15px;
  /*margin-left: 150px;*/
}

#wrapper #container #header h1, #wrapper #container #header h1 a:link, #wrapper #container #header h1 a:visited {
  line-height: 120px;
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

#wrapper #container #header h1 span {
  font-weight: bold;
}


/**
 * Secondary navigation
 */
ul.secondary-links {
  margin: 0;
  padding: 18px 0 0;
  float: right; /* LTR */
  clear: right; /* LTR */
  position: relative;
  z-index: 4;
}

ul.secondary-links li {
  margin: 0;
  padding: 0;
  float: left; /* LTR */
  background-image: none;
}

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited {
  display: block;
  margin: 0 1em;
  padding: .75em 0 0;
  color: #797979;
  background: transparent;
}

ul.secondary-links li a:hover, ul.secondary-links li a.active {
  color: #797979;
  background: transparent;
}

/**
 * Local tasks
 */
ul.primary, ul.primary li, ul.secondary, ul.secondary li {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

#tabs-wrapper {
 /* margin: 0 -26px 1em;
  padding: 0 26px;*/
  margin: 15px 0px 0px 0px;
  padding: 0px;
  border-bottom: 1px solid #E5E5E5;
  position: relative;

  
}
ul.primary {
  padding: 0.5em 0 10px;
  float: left; /* LTR */
}
ul.secondary {
  clear: both;
  text-align: left; /* LTR */
  border-bottom: 1px solid #E5E5E5;
  margin: -0.2em -26px 1em;
  padding: 0 26px 0.6em;
}
h2.with-tabs {
  float: left; /* LTR */
  margin: 0 2em 0 0; /* LTR */
  padding: 0;
}

ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited,
ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
  border: 0;
  background: transparent;
  padding: 4px 1em;
  margin: 0 0 0 1px; /* LTR */
  height: auto;
  text-decoration: none;
  position: relative;
  top: -1px;
}
ul.primary li.active a, ul.primary li.active a:link, ul.primary li.active a:visited, ul.primary li a:hover,
ul.secondary li.active a, ul.secondary li.active a:link, ul.secondary li.active a:visited, ul.secondary li a:hover {
  background: url(images/bg-tab.png) repeat-x 0 50%;
  color: #fff;
}
ul.primary li.active a,
ul.secondary li.active a {
  font-weight: bold;
}


/**
 * Nodes & comments
 */
.node {
  border-bottom: 1px solid #D1D1D1;
  margin: 0 0px 20px;
  padding: 0px;
}

ul.links li, ul.inline li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0; /* LTR */
  padding-right: 1em; /* LTR */
  background-image: none;
}

.node .links, .comment .links {
  text-align: left; /* LTR */
}

.node .links ul.links li, .comment .links ul.links li {}

.terms ul.links li {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 1em;
}

.picture, .comment .submitted {
  float: right; /* LTR */
  clear: right; /* LTR */
  padding-left: 1em; /* LTR */
}

.new {
  color: #003399;
  font-size: 0.92em;
  font-weight: bold;
  float: right; /* LTR */
}

.terms {
  float: right; /* LTR */
}

.preview .node, .preview .comment, .sticky {
  margin: 0;
  padding: 0.5em 0;
  border: 0;
  background: 0;
}

.sticky {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e0e5fb;
  margin-bottom: 2em;
}

#comments {
  position: relative;
  top: -1px;
  border-bottom: 1px solid #E5E5E5;
  margin: -1.5em -25px 0;
  padding: 0 25px;
}

#comments h2.comments {
  margin: 0 -25px;
  padding: .5em 25px;
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
}

.comment {
  margin: 0 -25px;
  padding: 1.5em 25px 1.5em;
  border-top: 1px solid #E5E5E5;
}

.indented {
  margin-left: 25px; /* LTR */
}

.comment h3 a.active {
  color: #494949;
}

.node .content, .comment .content {
  margin: 0.6em 0;
}


/**
 * Collapsible fieldsets
 */
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #CCC;
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
}

/* Targets IE 7. Fixes background image in field sets. */
*:first-child+html fieldset {
  padding: 0 1em 1em;
  background-position: 0 .75em;
  background-color: transparent;
}

*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 1em;
}

fieldset legend {
  /* Fix disappearing legend in FFox */
  display: block;
}

*:first-child+html fieldset legend, *:first-child+html fieldset.collapsed legend {
  display: inline;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-top: 0;
  padding-bottom: .6em;
}

html.js fieldset.collapsible legend a {
  padding-left: 2em; /* LTR */
  background: url(images/menu-expanded.gif) no-repeat 0% 50%; /* LTR */
}

html.js fieldset.collapsed legend a {
  background: url(images/menu-collapsed.gif) no-repeat 0% 50%; /* LTR */
}

/**
 * Syndication icons and block
 */
#block-node-0 h2 {
  float: left; /* LTR */
  padding-right: 20px; /* LTR */
}

#block-node-0 img, .feed-icon {
  float: right; /* LTR */
  padding-top: 4px;
}

#block-node-0 .content {
  clear: right; /* LTR */
}

/**
 * Login Block
 */
#user-login-form {
  text-align: center;
}
#user-login-form ul {
  text-align: left; /* LTR */
}

/**
 * User profiles.
 */
.profile {
  margin-top: 1.5em;
}
.profile h3 {
  border-bottom: 0;
  margin-bottom: 1em;
}
.profile dl {
  margin: 0;
}
.profile dt {
  font-weight: normal;
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: 1.4em;
  margin-bottom: 0.45em;
}
.profile dd {
  margin-bottom: 1.6em;
}

/**
 * Admin Styles
 */
div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {
  margin: 0;
  padding: 0;
}

div.admin .left {
  float: left; /* LTR */
  width: 48%;
}
div.admin .right {
  float: right; /* LTR */
  width: 48%;
}

div.admin-panel {
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
  padding: 1em 1em 1.5em;
}
div.admin-panel .description {
  margin-bottom: 1.5em;
}
div.admin-panel dl {
  margin: 0;
}
div.admin-panel dd {
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

table.system-status-report th {
  border-color: #e5e5e5;
}

#autocomplete li.selected, tr.selected td, tr.selected td.active {
  background: #027ac6;
  color: #fff;
}

tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
  color: #e5e5e5;
}

tr.taxonomy-term-preview {
  opacity: 0.5;
}

tr.taxonomy-term-divider-top {
  border-bottom: none;
}

tr.taxonomy-term-divider-bottom {
  border-top: 1px dotted #CCC;
}

/**
 * Generic elements.
 */
.messages {
  background-color: #fff;
  border: 1px solid #b8d3e5;

}

.preview {
  background-color: #E6E6E6;
  border: 1px solid #D1D1D1;
  padding: 5px;
}

div.warning {
  background-color: #ffd;
  border-color: #eeb;
  
  padding: 5px;
  margin-bottom: 10px;
}

div.status {
  color: #33a333;
  border-color: #c7f2c8;
  
  padding: 5px;
  margin-bottom: 10px;
}

div.error, tr.error {
  color: #a30000;
  background-color: #FFCCCC;
  
  padding: 5px;
  margin-bottom: 10px;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #363636;
}

/**
 * dblog.module
 */
tr.dblog-user {
  background-color: #fcf9e5;
}

tr.dblog-user td.active {
  background-color: #fbf5cf;
}

tr.dblog-content {
  background-color: #fefefe;
}

tr.dblog-content td.active {
  background-color: #f5f5f5;
}

tr.dblog-warning {
  background-color: #fdf5e6;
}

tr.dblog-warning td.active {
  background-color: #fdf2de;
}

tr.dblog-error {
  background-color: #fbe4e4;
}

tr.dblog-error td.active {
  background-color: #fbdbdb;
}
tr.dblog-page-not-found, tr.dblog-access-denied {
  background: #d7ffd7;
}
tr.dblog-page-not-found td.active, tr.dblog-access-denied td.active {
  background: #c7eec7;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}

table.content-field-overview {
  overflow: scroll;
}

/**
 * 
 */
table.sticky-header {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
  width: 100%;
}
table.sticky-header th {
  border-color: #e5e5e5;
}

#content-field-overview-form {
  width: 100%;
  overflow: scroll;
}

